public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
shamefully-hoist=false

supportedArchitectures.os[]=current
supportedArchitectures.os[]=linux
supportedArchitectures.cpu[]=current
supportedArchitectures.cpu[]=x64
supportedArchitectures.libc[]=current
supportedArchitectures.libc[]=glibc
